@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 224 71.4% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 262.1 83.3% 57.8%;
    --primary-foreground: 210 20% 98%;
    --secondary: 220 14.3% 95.9%;
    --secondary-foreground: 220.9 39.3% 11%;
    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 46.1%;
    --accent: 220 14.3% 95.9%;
    --accent-foreground: 220.9 39.3% 11%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;
    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 262.1 83.3% 57.8%;
    --radius: 0.5rem;
    --text-color: black;
    --clerk-background: white;
  }

  .dark {
    --background: #020d28;
    --foreground: #f4f4f4;
    --card: 224 71.4% 4.1%;
    --card-foreground: 210 20% 98%;
    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;
    --primary: 263.4 70% 50.4%;
    --primary-foreground: 210 20% 98%;
    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 210 20% 98%;
    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;
    --accent: 215 27.9% 16.9%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;
    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --ring: 263.4 70% 50.4%;
    --text-color: white;
    --clerk-background: rgb(31, 41, 59);
    --clerk-icon-background: rgb(14, 25, 44);
  }
}


@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-background: #F6F8FD;
    --secondary: #624CF5;
  }
}

body {
  background: var(--primary-background);
}

/* Removing Clerk Custom Sidebar Logo */
.cl-internal-75cqc {
  display: none;
}

.cl-userButtonPopoverFooter {
  display: none;
}

.cl-userButtonPopoverCard {
  color: #624CF5;
}


/* Styling clerk UserProfile component */
.cl-card {
  margin: 2rem 0;
}

@media (max-width: 50rem) {
  .cl-card {
    width: 100%;
    margin: 1.5rem 0;
  }
}

@media (max-width: 30rem) {
  .cl-card {
    width: 94%;
    margin: 1rem 0;
  }
}

.cl-internal-hegiim {
  display: none;
}

.cl-card {
  background-color: var(--clerk-background);
  color: var(--text-color);
}

.cl-headerTitle, 
.cl-headerSubtitle, 
.cl-profileSectionTitleText, 
.cl-profileSectionPrimaryButton,
.cl-accordionTriggerButton,
.cl-internal-of57g, 
.cl-internal-fqx4fd,
.cl-internal-3vf5mz,
.cl-dividerText,
.cl-formFieldLabel,
.cl-footerActionText,
.cl-navbarButton {
  color: var(--text-color);
}

.cl-socialButtons button {
  background-color: var(--clerk-icon-background);
}
